h2 {
    padding-left: 15px;
    padding-bottom: 0.3em;
    font-size: 1.65em;
    line-height: 1.225;
    border-left: 10px solid #444;
    border-bottom: 1px solid #444;
}

h3 {
    font-size: 1.3em;
    line-height: 1.43;
    padding: 5px;
    border-left: 10px solid #2a2a2a;
    border-bottom: 1px solid #444;
}
